<h1>TestLayout</h1>
<div {{ attributes.addClass('pinto_example_collection_reflection-layout') }}>
  <div {{ regionAttributes.leftSide.addClass('slot') }}>
    {{ leftSide }}
  </div>
  <div {{ regionAttributes.rightSide.addClass('slot') }}>
    {{ rightSide }}
  </div>
  <div {{ regionAttributes.content.addClass('slot') }}>
    {{ content }}
  </div>
</div>
